<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkwSTq8TtUtCotBOslZUUcpI0C_YTCBgE</string>
	<key>GCM_SENDER_ID</key>
	<string>662551928768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDeepLink</string>
	<key>PROJECT_ID</key>
	<string>fir-deep-link-home</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-deep-link-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662551928768:ios:41d8087a27edba7a00f225</string>
</dict>
</plist>